@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);


#home{
	margin-top: 50px;
}
#logo{
    padding: 10px 0px;
    margin:0;
    text-align: center;
}

#logo a {
    font-family: "durselinvenice2015regular";
    font-size: 5em;
    color: white;
    text-decoration: none;
}


#consumoresponsavel ul.social-icons {
    padding-top: 5px;
    margin-bottom: 0;
}
#consumoresponsavel .right {
    float: right;
}
#consumoresponsavel ol, ul {
    list-style: outside none none;
}
#consumoresponsavel .social-icons li {
    line-height: 0;
    margin-left: 10px;
}
#consumoresponsavel .left {
    float: left;
}
#consumoresponsavel .social-icons li a {
    display: inline-block;
    line-height: 0;
}
#consumoresponsavel a, #consumoresponsavel.navbar .nav li a {
    color: #2877AE;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: normal;
}

@media (min-width: 768px) {
	#consumoresponsavel.navbar .nav li {
		width: auto;
		float: left;
	}
}

#consumoresponsavel.navbar-inverse .navbar-nav > li > a {
    color: #9d9d9d;
}


#consumoresponsavel.navbar-inverse {
	background: #153D35;
	border: none;
}
#consumoresponsavel.navbar-inverse .navbar-toggle:focus, #consumoresponsavel.navbar-inverse .navbar-toggle:hover {
    background-color: #000;
}
#consumoresponsavel.navbar-inverse .navbar-toggle {
    border-color: #fff;
}
#consumoresponsavel .social-icons-button {
	color: #fff;
	padding: 6px 10px;
}
#social-icons-collapse {
	float:right;
}
#main-menu-collapse {
	float:left;
}
#consumoresponsavel ul.top-menu {
	font-family: "Yanone Kaffeesatz",sans-serif;
	font-size: 22px;
	text-transform: uppercase;
}
#consumoresponsavel.navbar-inverse .navbar-nav.top-menu > .active > a, #consumoresponsavel.navbar-inverse .navbar-nav > .active > a:focus, #consumoresponsavel.navbar-inverse .navbar-nav > .active > a:hover {
	background-color: transparent;
	color: #7CD773;
}
#social-icons-collapse .nav > li > a {
	padding: 10px 6px;
}
@media (min-width: 768px) and (max-width: 880px) {
	#consumoresponsavel.nav > li > a {
    padding: 10px 8px;
	}
	#consumoresponsavel ul.top-menu {
		font-size: 18px;
	}
}
